extends layout/base
block content 
	section.content-header 
		h1 
			| Dashboard Admin
		ol.breadcrumb 

	section.content
		.box
			.box-header.with-border
					img(src='/images/home.jpg', alt="", style='width: 60%; margin-left: 20%;').img-align-center
					<h3><b>Apa itu MRp?</b></h3>
					<p>Merupakan fanspage yang menyediakan konten/mod Trainz Simulator baik di PC maupun Android. Konten andalan MRp sendiri adalah sarana penumpang. Menyediakan konten Free, Private, Limited User. Selain menyediakan konten, MRp juga melayani request konten yang dimana user bisa meminta kepada admin untuk dibuatkan suatu konten yang user inginkan, dengan catatan referensi yang diberikan memenuhi kriteria yang admin perlukan.</p> 
					<br>
					<br>