extends layout/base
block content 
	section.content-header 
		h1 
			| Admin Page 
			
		ol.breadcrumb 

	section.content
		.box
			.box-header.with-border
					<h1><b><u><center>ADMIN MRP</center></u></b></h1>
					<p><center>Kegunaan admin disini adalah merekap data user yang masuk kedalam status Private User dimana hanya beberapa orang yang terpilih menjadi user privat kami. Kami bisa MENG-BLACKLIST apabila user pernah dan sudah melakukan kasus seperti pembajakan konten atau tidak menjaga amanah dengan konten yang kami berikan! Disisi lain, website admin ini juga memudahkan admin dalam merekap data-data user MRp. Website ini bersifat internal jadi hanya admin yang bisa mengubah data user MRp</center></p>
                    
                    
					<br>
					<br>