aside.main-sidebar
    section.sidebar
        
        ul.sidebar-menu
            li.header
                img(src='/adminlte/dist/img/logomrp.jpg', alt="User Image", style='width: 200px;').img-circle
            li.treeview
                a(href='/dashboard')
                    i.fa.fa-map
                    span
                        | Dashboard
                
            li.treeview
                a(href='/customers')
                    i.fa.fa-user
                    span
                        | User
            li
                a(href='/profil')
                    i.fa.fa-train
                    span
                        | Profil
                  
            
